#jqt .toolbar {
	height: 55px;
}
#search {
	width: 100px;
	margin: 0 3px 0 0;
	margin-left: 80px;
	padding: 4px 4px 4px 4px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #BBB;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#jqt .button, #jqt .back, #jqt .cancel, #jqt .add {
	bottom: auto;
}
.rounded li a img {
	vertical-align: middle;
	margin-right: 10px;
	width: 18px;
	height: 18px;
}
#jqt .more {
	overflow: hidden;
	width: auto;
	height: 30px;
	font-family: inherit;
	font-size: 15px;
	font-weight: bold;
	line-height: 30px;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	background: none;
	margin: 0;
	padding: 4px 8px;
	color: #e2e3e3;
	text-shadow: black 0 -1px 0;
	-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
	box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 2px inset;
	border: 1px solid black;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image: none;
	background-color: #0a0a0a;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2f3031), color-stop(50%, #161717), color-stop(51%, #0a0a0a), color-stop(100%, #000000));
	background-image: -webkit-linear-gradient(top, #2f3031, #161717 50%, #0a0a0a 51%, #000000);
	background-image: linear-gradient(top, #2f3031, #161717 50%, #0a0a0a 51%, #000000);
}
#jqt .more  img {
	vertical-align: middle;
}
#jqt .more.active {
	border-color: black;
	background-image: none;
	background-color: black;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262627), color-stop(50%, #0d0d0d), color-stop(51%, #000000), color-stop(100%, #000000));
	background-image: -webkit-linear-gradient(top, #262627, #0d0d0d 50%, #000000 51%, #000000);
	background-image: linear-gradient(top, #262627, #0d0d0d 50%, #000000 51%, #000000);
	color: #d8d9d9;
	text-shadow: black 0 -1px 0;
}
.report-container {
	width: 320px;
	height: 480px;
	overflow: hidden;
	margin: 0 auto;
}
.swipe_container {
	width: 1600px;
	position: relative;
}
.swipe-item {
	font-size: 24px;
	width: 320px;
	height: 480px;
	float: left;
}
/*dialog related styles*/
#xj {

	background-attachment: fixed;

	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	
	display: none;
}

#lj {
	width: 90%;
	position: absolute;
	top: 55px;
	min-height: 100px;
	left: 20px;
	display: none;
	z-index: 1000;
	background:none;
	
}
#optionsDlg {
	z-index: 100001;
	background-color: #555658;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	background-image: none;
	line-height: 1.6;
	border:5px solid rgba(0,0,0,0.5);
}
#optionsDlg .rounded 
{
	margin:0px 10px 10px 10px;
	
}
#dlgHeader {

	padding: 2px;
	text-align: center;
}
.dlgarrow {
	width: 0;
	height: 0;
	position:relative;
	left:65%;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgba(0,0,0,0.5);
	border-top: 0;
}
